* {
/* 
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Sans Mono', monospace; */
/* font-family: 'Noto Sans Symbols', sans-serif; */

}


h1 {
    font-family: 'Noto Sans JP','Noto Sans Symbols', sans-serif !important;  
    color: red
    ;
}